@nessie:registry=https://nexus.topaas.ns.nl/repository/NS_DSM_NPM/
//nexus.topaas.ns.nl/repository/NS_DSM_NPM/:_auth="${NPM_TOKEN_NESSIE}"
email=topaas-svc-DSM.reader@nslogin.nl
always-auth=true
legacy-peer-deps=true
